<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Retr0_6ix.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Retr0_6ix.My.MySettings>
            <setting name="VersionNumber" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
            <setting name="DLSource" serializeAs="String">
                <value>https://codeload.github.com/Zer0Entry/Retr0-6ix-Files/zip/master</value>
            </setting>
            <setting name="DLFile" serializeAs="String">
                <value>C:\R06\Retr0-6ix-Files.zip</value>
            </setting>
            <setting name="DesktopCheck" serializeAs="String">
                <value>\Retr0-6ix-Files-master</value>
            </setting>
        </Retr0_6ix.My.MySettings>
    </userSettings>
</configuration>